<!--
  templateType: global_partial
  label: Footer
-->
<nav class="footer is-layout-constrained has-global-padding alignfull">
  <div class="wp-block-group menu-group" style="max-width: 1220px; width: 100%">
    <img
      class="footer-grape"
      src="https://www.idahowines.org/content/themes/iwc/images/idaho-wine-color-grape@2x.webp"
      alt="grape"
    />

    <ul id="menu-footer" class="menu-footer">
      <li>
        <a href="https://www.idahowines.org/idaho-wines/"
          >Idaho Wines</a
        >
        <ul>
          <li>
            <a
              href="https://www.idahowines.org/idaho-wines/idaho-wine-faqs/"
              >Idaho Wine FAQs</a
            >
          </li>
          <li>
            <a
              href="https://www.idahowines.org/idaho-wines/idaho-wine-history/"
              >Idaho Wine History</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="https://www.idahowines.org/visit/">Visit</a>
        <ul>
          <li>
            <a
              href="https://www.idahowines.org/visit/boise-garden-city/"
              >Boise &amp; Garden City</a
            >
          </li>
          <li>
            <a
              href="https://www.idahowines.org/visit/coeur-dalene-sandpoint/"
              >Coeur d&#8217;Alene &#038; Sandpoint</a
            >
          </li>
          <li>
            <a href="https://www.idahowines.org/visit/eagle/"
              >Eagle</a
            >
          </li>
          <li>
            <a
              href="https://www.idahowines.org/visit/lewiston-moscow/"
              >Lewiston &amp; Moscow</a
            >
          </li>
          <li>
            <a
              href="https://www.idahowines.org/visit/south-central/"
              >South Central</a
            >
          </li>
          <li>
            <a
              href="https://www.idahowines.org/visit/western-treasure-valley/"
              >Western Treasure Valley</a
            >
          </li>
          <li>
            <a
              href="https://www.idahowines.org/visit/wine-flies-free/"
              >Wine Flies Free</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="https://www.idahowines.org/events/">Events</a>
      </li>
      <li>
        <a href="https://www.idahowines.org/industry-resources/"
          >Industry Resources</a
        >
        <ul>
          <li>
            <a href="https://www.idahowines.org/industry-resources/#winery-resources">Winery Resources</a>
          </li>
          <li>
            <a
              target="_blank"
              href="https://resources.idahowines.org/grower-resources"
              >Grower Resources</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a
          target="_blank"
          href="https://blog.idahowines.org/"
          >The Corkscrew Blog</a
        >
        <ul>
          <li>
            <a href="https://www.idahowines.org/in-the-news/"
              >In The News</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a href="https://www.idahowines.org/who-we-are/"
          >Who We Are</a
        >
        <ul>
          <li>
            <a href="https://www.idahowines.org/who-we-are/team/"
              >Team</a
            >
          </li>
        </ul>
      </li>
      <li class="stay-connected has-tiny-font-size">
        <p class="has-normal-font-size" style="margin-bottom: 0">
          <a
            href="https://resources.idahowines.org/subscribe-idaho-wines"
            target="_blank"
            rel="noreferrer noopener"
            >SUBSCRIBE</a
          >
        </p>

        <p class="has-tiny-font-size">
          Get information about Idaho wines, upcoming events, special offers and
          other exclusive content.
        </p>
      </li>
    </ul>
    <div class="footer-mid-wrap">
      <ul id="menu-social" class="menu-social">
        <li class="icon-fb">
          <a
            title="Facebook"
            target="_blank"
            href="https://www.facebook.com/idahowinecommission"
            >FB</a
          >
        </li>
        <li class="icon-ig">
          <a
            title="Instagram"
            target="_blank"
            href="https://www.instagram.com/idahowines/"
            >IG</a
          >
        </li>
        <li class="icon-yt">
          <a
            title="YouTube"
            target="_blank"
            href="https://www.youtube.com/channel/UCt03FzUcXh-qAOByZDREK8A/videos"
            >YT</a
          >
        </li>
      </ul>
      <div class="address has-tiny-font-size">
        <b>IDAHO WINE HEADQUARTERS</b>
        <p>Idaho Grape Growers & Wine Producers Commission</p>
        <p>
          821 W. State St. Boise, ID 83702<br />
          Phone: <a href="tel:208.332.1538">208.332.1538</a>
        </p>
      </div>
      <a href="https://www.idahowines.org" class="footer-logo"
        ><img
          src="https://www.idahowines.org/content/themes/iwc/images/idaho-wine-color-logo@2x.webp"
          alt="Idaho Wine Commission"
      /></a>
    </div>
  </div>
  <div class="footer-bar alignfull">
    <div class="wp-block-group" style="max-width: 1216px">
      <p class="has-tiny-font-size" style="margin: 0">
        &copy; 2023 Idaho Wines Commission
      </p>
      <nav class="legal-menu-nav has-tiny-font-size">
        <ul id="menu-legal" class="menu-legal">
          <li>
            <a href="https://www.idahowines.org/sitemap/"
              >Sitemap</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.idaho.gov/about-us/privacy-policy/?__hstc=23603877.96615c9dfc62fc142ceee70410d43e57.1554992140281.1555424691467.1555429491101.11&#038;__hssc=23603877.8.1555429491101&#038;__hsfp=384792637"
              >Privacy &#038; Security</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://www.idaho.gov/about-us/accessibility/?__hstc=23603877.96615c9dfc62fc142ceee70410d43e57.1554992140281.1555424691467.1555429491101.11&#038;__hssc=23603877.8.1555429491101&#038;__hsfp=384792637"
              >Accessibility</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://cybersecurity.idaho.gov/?__hstc=23603877.96615c9dfc62fc142ceee70410d43e57.1554992140281.1555424691467.1555429491101.11&#038;__hssc=23603877.8.1555429491101&#038;__hsfp=384792637"
              >Cyber Security</a
            >
          </li>
        </ul>
      </nav>
      <img
        src="https://www.idahowines.org/content/themes/iwc/images/logo-visit-idaho.svg"
        alt="Visit Idaho"
        class="footer-bar-image"
      />
    </div>
  </div>
</nav>
