/* Blog post */

.blog-post {
  margin: 0 auto;
  max-width: 960px;
}

.blog-post__meta {
  margin-bottom: 1.4rem;
  font-size:0.9375rem;
}

.blog-post__meta a {
  text-decoration: underline;
}

.blog-post__timestamp {
  display: block;
}

.blog-post__tags svg {
  height: auto;
  margin-right: 0.35rem;
  width: 15px;
}

/* Blog related posts */

.blog-related-posts {
  background-color: #F8FAFC;
}

.blog-related-posts h2 {
  text-align: center;
}

.blog-related-posts__list {
  display: flex;
  flex-wrap: wrap;
}

.blog-related-posts__post {
  flex: 0 0 100%;
  padding: 1rem;
}

@media screen and (min-width: 768px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 2);
  }
}

@media screen and (min-width: 1000px) {
  .blog-related-posts__post {
    flex: 0 0 calc(100% / 3);
  }
}

.blog-related-posts__image {
  height: auto;
  max-width: 100%;
}

.blog-related-posts__title {
  margin: 0.7rem 0;
}

/* Blog comments */

.blog-comments {
  margin: 0 auto;
  max-width: 680px;
}

.blog-comments .hs-submit {
  text-align: center;
}

.blog-comments .comment-reply-to {
  border: 0 none;
}

.blog-comments .comment-reply-to:hover,
.blog-comments .comment-reply-to:focus {
  background-color: transparent;
  text-decoration: underline;
}

/******* CUSTOM *******/
.single-blog-post {
  display:flex;
  flex-flow:row wrap;
  gap:2rem;
}
.single-blog-post article {
  flex:0 1 calc(100% - 22rem);
}
.single-blog-post article h1 {
  margin-bottom:.5rem;
}
.single-blog-post article h2, .single-blog-post article h3 {
  font-size:1.25rem!important;   /* sometimes defined inline; must override that */
  text-transform:uppercase;
  margin:1rem 0 .875rem;
}
.single-blog-post article p+h2, .single-blog-post article p+h3 {
  margin-top:2rem;
}
.single-blog-post article h2+p, .single-blog-post article h3+p {
  margin-top:.875rem;
}
.single-blog-post #blogSidebar {
  flex:0 0 20rem;
  margin-top:2rem;
}
.single-blog-post #blogSidebar .sidebar-subscribe {
  background-color:var(--wp--preset--color--iwc-grape-green);
  border-radius:var(--wp--custom--border-radius--default);
  padding:2rem;
}
.single-blog-post #blogSidebar h2 {
  font-size:var(--wp--preset--font-size--h-small);
}
.single-blog-post #blogSidebar .sidebar-recent-posts {
  padding:2rem;
}
.single-blog-post #blogSidebar .sidebar-recent-posts ul {
  list-style:none;
  padding-left:0;
}
.single-blog-post #blogSidebar .sidebar-recent-posts ul li {
  margin-bottom:1.25rem;
  }
article.blog-post .slick-slider, article.blog-post .slick-track, article.blog-post .slick-slide {
  width:100%!important;
  max-width:100%!important;
}
article.blog-post .slick-slider {
  padding-left:0;
  padding-right:0;
}
article.blog-post .slick-slider img {
  border-radius:var(--wp--custom--border-radius--default);
}
@media screen and (max-width:768px) {
  .single-blog-post article, .single-blog-post #blogSidebar {
    flex-basis:100%;
  }
  .single-blog-post #blogSidebar .sidebar-recent-posts {
    padding:3rem .5rem 2rem;
  }
}