body:has(.is-single-post) .navbar-primary {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    background:rgba(255,255,255,0.95);
    transition:none;
}
#mobile-menu .toggle {
    margin-right:0;
}
