/* Layout */


#featuredPosts .hs-blog-post-listing__post {
  border:none;
  box-shadow:none;
}


/* Featured image */

#featuredPosts .hs-blog-post-listing__post-image-wrapper:after {
  display:none;
}

#featuredPosts .hs-blog-post-listing__post--grid .hs-blog-post-listing__post-image-wrapper img {
  height:auto;
  border-bottom-right-radius:var(--wp--custom--border-radius--default);
  border-bottom-left-radius:var(--wp--custom--border-radius--default);
}


/* Article content */

#featuredPosts .hs-blog-post-listing__post--grid .content-block {
  padding:0 .6875rem;
}

#featuredPosts .hs-blog-post-listing__post--grid .content-title {
  font-family:var(--wp--preset--font-family--raleway);
  font-size:var(--wp--preset--font-size--normal);
  line-height:1.25;
  text-transform:uppercase;
}

#featuredPosts .hs-blog-post-listing__post--grid .content-body {
  font-size:var(--wp--preset--font-size--regular);
}


