<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog post
  screenshotPath: ../images/template-previews/blog-post.png
-->
{% set template_css = "../../css/templates/blog.css" %}
{{ require_css(get_asset_url("/Custom/Idaho Wines/Themes/IWC_2023/css/templates/grower_resources.css")) }}
{% extends "./layouts/base.html" %}

{% block body %}
<div class="body-container body-container--blog-post grower-resources is-single-post">
    
  {# <div class="is-layout-constrained">
    <div class="main-breadcrumb has-global-padding">
      <div class="hs-menu-wrapper">
        <ul class="active-branch">
          <li class="active-branch"><a href="https://www.idahowines.org">Home</a>
            <ul class="active-branch">
              <li class="active-branch"><a href="https://blog.idahowines.org">Blog</a>
                <ul class="active-branch">
                  <li class="active-branch active"><a href="">{{ content.name }}</a></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div> #}

  <div class="is-layout-constrained">
    <div class="main-breadcrumb has-global-padding">
      <div class="hs-menu-wrapper">
        <ul class="active-branch">
          <li class="active-branch"><a href="https://www.idahowines.org">Home</a>
          <li class="active-branch"><a href="https://blog.idahowines.org">Blog</a>
          <li class="active-branch active">{{ content.name }}</li>
        </ul>
      </div>
    </div>
  </div>  


  {# Blog post #}

  <div id="content" class="page-content is-layout-constrained">
    <div class="single-blog-post has-global-padding">
      <article class="blog-post">
        <h1>{{ content.name }}</h1>
        <div class="blog-post__meta">
          Posted by {{ content.blog_post_author.display_name }} on <strong>{{ content.publish_date|datetimeformat('%B %e %Y') }}</strong>
        </div>
        <div class="blog-post__body">
          {{ content.post_body }}
        </div>
        {% if content.tag_list %}
          <div class="blog-post__tags">
            Topics: 
            {% for tag in content.tag_list %}
              <a class="blog-post__tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>{% if not loop.last %},{% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </article>
      <div id="blogSidebar">
        <div class="sidebar-subscribe is-layout-flow">
          <h2>Stay Connected</h2>
          <p>Get more information about Idaho wines, upcoming events, special offers and other exclusive content from the Idaho Wine Commission.</p>
          <div class="wp-block-button"><a class="wp-block-button__link has-text-align-center wp-element-button" href="https://resources.idahowines.org/subscribe-idaho-wines">Subscribe</a></div>
        </div>
        <div class="sidebar-recent-posts">
          {% module "blog_recent_posts" path="/Custom/Idaho Wines/Themes/IWC_2023/modules/blog_recent_posts_iwc.module" %}
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock body %}
