<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog listing
  screenshotPath: ../images/template-previews/blog-index.png
-->
{% extends "./layouts/base.html" %}
{% set template_css = "../../css/templates/blog.css" %}

{% block body %}
  <div id="content" class="page-content is-layout-constrained">

    {# Hero banner #}
    <div class="wp-block-cover alignwide has-custom-content-position is-position-bottom-center is-hero-section" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--70);min-height:500px;">
      <span aria-hidden="true" class="wp-block-cover__background has-background-dim-100 has-background-dim wp-block-cover__gradient-background has-background-gradient has-homepage-hero-gradient-gradient-background"></span>
      <img decoding="async" width="1920" height="1100" class="wp-block-cover__image-background" alt="" src="https://blog.idahowines.org/hubfs/IWC_2023_Theme_Assets/Hero/hdr-idaho-wine-blog@2x.webp" style="object-position:51% 0%" data-object-fit="cover" data-object-position="51% 0%" srcset="https://blog.idahowines.org/hubfs/IWC_2023_Theme_Assets/Hero/hdr-idaho-wine-blog@2x.webp 1920w, https://blog.idahowines.org/hubfs/IWC_2023_Theme_Assets/Hero/hdr-idaho-wine-blog@2x.webp 1440w" sizes="(max-width: 1920px) 100vw, 1920px"> 
      <!-- <div class="wp-block-cover__inner-container">
        <div class="wp-block-group has-global-padding is-layout-constrained wp-container-2" style="margin-bottom:var(--wp--preset--spacing--70)">
          <h1 class="wp-block-heading alignwide has-text-align-center has-white-color has-text-color has-h-home-hero-font-size">Here We Grow</h1>
          <p class="has-text-align-center has-white-color has-text-color has-medium-large-font-size" style="margin-top:0">Some people are surprised that world-class wine comes from Idaho. Here’s why they shouldn’t be.</p>
          <div class="wp-block-buttons is-content-justification-center is-layout-flex wp-container-1">
            <div class="wp-block-button">
              <a class="wp-block-button__link has-text-align-center wp-element-button">LEARN MORE</a>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <div id="blogListingIntro" class="has-global-padding">
      <span class="eyebrow">Optional Eyebrow</span>
      <h1>The Latest News from Idaho Wine Commission</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut erat velit. Nullam mattis felis ut neque malesuada pulvinar. Duis id augue rutrum, facilisis augue sed, cursus ipsum. Nunc in volutpat ipsum. Morbi egestas lacus at augue ullamcorper, sed volutpat nisl ultricies.</p>
    </div>
    
    {% module "blog_posts" path="/Custom/Idaho Wines/Themes/IWC_2023/modules/blog_listing_iwc.module", extra_classes="alignwide is-layout-constrained" %}
    {% module "blog_posts_pagination" path="@hubspot/pagination",  extra_classes="alignwide is-layout-constrained" %}

  </div>


<style>
  .wp-container-2.wp-container-2 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 600px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .wp-container-2.wp-container-2 > .alignwide {
    max-width: 800px;
  }
  .wp-container-2.wp-container-2.wp-container-2.wp-container-2 > * + * {
    margin-block-start:20px;margin-block-end:0;
  }
  .wp-block-cover {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
  #blogListingIntro {
    margin-bottom:4rem;
  }
  #blogListingIntro .eyebrow {
    display:block;
    font-family:var(--wp--preset--font-family--raleway);
    font-size:var(--wp--preset--font-size--normal);
    line-height:1.1;
    color:var(--wp--preset--color--iwc-text);
    font-weight:600;
  }
  #blogListingIntro h1 {
    width:50%;
    margin:1rem 0;
    font-family:var(--wp--preset--font-family--dity);
    color:var(--wp--preset--color--iwc-grape);
  }

</style>

{% endblock body %}
