{####################################################}
{############### Module variables ###################}
{####################################################}


{% if request.path is string_containing '/page/' %}
  {% set current_page = request.path|cut('test-blog-obfuscated/page/' %}
{% else %}
  {% set current_page = 1 %}
{% endif %}

{# Layout type #}

{% if module.layout == "basic_grid" %}
  {% set layout = "grid" %}
{% elif module.layout == "single_column" %}
  {% set layout = "single-column" %}
{% elif module.layout == "side_by_side" %}
  {% set layout = "side-by-side" %}
{% endif %}

{# Columns #}

{% if layout == "grid" %}
  {% set has_columns = true %}
  {% set has_feature_columns = true %}
  {% set columns = module.columns %}
  {% set feature_columns = module.feature_columns %}
{% endif %}

{# Content options #}

{% if module.display_for_each_list_item.index("image") >= 0 %}
  {% set show_image = true %}
{% endif %}

{% if module.display_for_each_list_item.index("title") >= 0 %}
  {% set show_title = true %}
{% endif %}

{% if module.display_for_each_list_item.index("author_image") >= 0 %}
  {% set show_author_image = true %}
{% endif %}

{% if module.display_for_each_list_item.index("author_name") >= 0 %}
  {% set show_author_name = true %}
{% endif %}

{% if module.display_for_each_list_item.index("tags") >= 0 %}
  {% set show_tags = true %}
{% endif %}

{% if module.display_for_each_list_item.index("publish_date") >= 0 %}
  {% set show_publish_date = true %}
{% endif %}

{% if module.display_for_each_list_item.index("description") >= 0 %}
  {% set show_description = true %}
{% endif %}

{% if module.display_for_each_list_item.index("link") >= 0 %}
  {% set show_link = true %}
{% endif %}

{# Alternate image #}

{% if show_image and layout == "side-by-side" and module.alternate_image %}
  {% set has_alternate_image = true %}
  {% set alternate_image = "alternate-image" %}
{% endif %}

{# Full image #}

{% if show_image and layout != "side-by-side" and module.full_image %}
  {% set has_full_image = true %}
{% endif %}

{####################################################}
{################# Module styles ####################}
{####################################################}

{% require_css %}
  <style>
  {% scope_css %}

    .hs-blog-post-listing--grid .hs-blog-post-listing__post-content {
      {# {{ module.styles.post.padding.padding.css }}; #}
    }

    {# Grid layout #}

    {% if has_columns %}
      @media(min-width:768px) {
        .hs-blog-post-listing--grid {
          gap:2rem;
          justify-content: space-between;
        }
        .hs-blog-post-listing__post--2, .hs-blog-post-listing__post--3, .hs-blog-post-listing__post--4 {
          width:calc(50% - 1rem);
        }
      }
      @media(min-width:840px) {
        .hs-blog-post-listing__post--3, .hs-blog-post-listing__post--4 {
          width:calc(33% - 1.25rem);
        }
      }
      @media(min-width:960px) {
        .hs-blog-post-listing__post--4 {
          width:calc(25% - 1.5rem);
        }
      }
      
    {% endif %}

    {# Side by side layout #}

    {# {% if layout == "side-by-side" %}
      @media (min-width: 768px) {
        .hs-blog-post-listing__post--side-by-side {
          flex-direction: row;
        }

        .hs-blog-post-listing__post-image-wrapper--side-by-side {
          {% if module.styles.image.size.width and module.styles.image.spacing.between_image_and_content %}
            width: calc({{ module.styles.image.size.width ~ "%" }} - {{ module.styles.image.spacing.between_image_and_content / 2 ~ "px" }});
          {% elif module.styles.image.size.width %}
            width: calc({{ module.styles.image.size.width ~ "%" }} - 0.5rem);
          {% elif module.styles.image.spacing.between_image_and_content %}
            width: calc(40% - {{ module.styles.image.spacing.between_image_and_content / 2 ~ "px" }});
          {% else %}
            width: calc(40% - 0.5rem);
          {% endif %}
        }

        .hs-blog-post-listing__post-content--side-by-side {
          {% if module.styles.image.size.width and module.styles.image.spacing.between_image_and_content %}
            width: calc({{ 100 - module.styles.image.size.width ~ "%" }} - {{ module.styles.image.spacing.between_image_and_content / 2 ~ "px" }});
          {% elif module.styles.image.size.width %}
            width: calc({{ 100 - module.styles.image.size.width ~ "%" }} - 0.5rem);
          {% elif module.styles.image.spacing.between_image_and_content %}
            width: calc(60% - {{ module.styles.image.spacing.between_image_and_content / 2 ~ "px" }});
          {% else %}
            width: calc(60% - 0.5rem);
          {% endif %}
        }

        .hs-blog-post-listing__post-image-wrapper--left {
          {% if module.styles.image.spacing.between_image_and_content %}
            margin-right: {{ module.styles.image.spacing.between_image_and_content ~ "px" }};
          {% else %}
            margin-right: 1rem;
          {% endif %}
        }

        {% if has_alternate_image %}
          .hs-blog-post-listing__post-image-wrapper--right {
            {% if module.styles.image.spacing.between_image_and_content %}
              margin-left: {{ module.styles.image.spacing.between_image_and_content ~ "px" }};
            {% else %}
              margin-left: 1rem;
            {% endif %}
          }

          .hs-blog-post-listing__post-image-wrapper--right {
            order: 2;
          }

          .hs-blog-post-listing__post-content--side-by-side {
            order: 1;
          }
        {% endif %}
      }

      @media (max-width: 767px) {
        .hs-blog-post-listing__post-image-wrapper {
          margin-left: 0;
          margin-right: 0;
        }
      }
    {% endif %} #}

    {# Post #}

    .hs-blog-post-listing__post {
      {# {% if module.styles.post.background.color.color and not has_full_image %}
        background-color: rgba({{ module.styles.post.background.color.color|convert_rgb }}, {{ module.styles.post.background.color.opacity / 100 }});
      {% endif %}
      {% if has_full_image %}
        background-repeat: no-repeat;
        background-size: cover;
      {% endif %}
      {{ module.styles.post.border.border.css }}
      {% if module.styles.post.corner.radius >= 0 %}
        border-radius: {{ module.styles.post.corner.radius ~ "px" }};
      {% endif %}
      {{ module.styles.post.spacing.spacing.css }} #}
    }

    {% if has_full_image %}
      {# .hs-blog-post-listing__post-inner-wrapper {
        {% if module.styles.image.overlay.color.color %}
          background-color: rgba({{ module.styles.image.overlay.color.color|convert_rgb }}, {{ module.styles.image.overlay.color.opacity / 100 }});
        {% else %}
          background-color: rgba(255, 255, 255, 0.4);
        {% endif %}
        display: flex;
        height: 100%;
      } #}
    {% endif %}

    .hs-blog-post-listing__post-content {
      {# position:relative; background:blue;
      {{ module.styles.post.spacing.post_content.css }} #}
    }

    {# Post image #}

    {% if show_image and not has_full_image %}
      {# .hs-blog-post-listing__post-image-wrapper {
        position:relative;
        {{ module.styles.image.spacing.spacing.css }}
      }

      .hs-blog-post-listing__post-image {
        {% if module.styles.image.size.aspect_ratio %}
          aspect-ratio: {{ module.styles.image.size.aspect_ratio }};
        {% endif %}
        {% if module.styles.image.corner.radius >= 0 %}
          border-radius: {{ module.styles.image.corner.radius ~ "px" }};
        {% endif %}
      }
      .hs-blog-post-listing__post-image-wrapper:after {
        content:'';
        position:absolute;
        left:calc((-1000px + 100%) / 2 );
        bottom:-940px;
        width:1000px;
        height:1000px;
        background:white;
        border-top-right-radius:100%;
        border-top-left-radius:100%;
      } #}
    {% endif %}

    {# Title #}

    {% if show_title %}
      .hs-blog-post-listing__post-title,
      .hs-blog-post-listing__post-title-link {
        {# {% if module.styles.title.text.font.color %}
          color: {{ module.styles.title.text.font.color }};
        {% endif %}
        {% if module.styles.title.text.font.size %}
          font-size: {{ module.styles.title.text.font.size ~ module.styles.title.text.font.size_unit }};
        {% endif %}
        {% if module.styles.title.text.font.style %}
          {{ module.styles.title.text.font.style }};
        {% endif %}
        {{ module.styles.title.spacing.spacing.css }} #}
      }

      .hs-blog-post-listing__post-title-link:hover,
      .hs-blog-post-listing__post-title-link:focus {
        {# {% if module.styles.title.hover.text.font.color %}
          color: {{ module.styles.title.hover.text.font.color }};
        {% endif %}
        {% if module.styles.title.hover.text.font.style %}
          {{ module.styles.title.hover.text.font.style }};
        {% endif %} #}
      }
    {% endif %}

    {# Author #}

    {% if show_author_image or show_author_name %}
      .hs-blog-post-listing__post-author {
        {# {{ module.styles.author.spacing.spacing.css }} #}
      }

      {% if show_author_image and module.styles.author.image.corner.radius >= 0 %}
        {# .hs-blog-post-listing__post-author-image { #}
          {# border-radius: {{ module.styles.author.image.corner.radius ~ "px" }}; #}
        {# } #}
      {% endif %}

      {% if show_author_name %}
        {# .hs-blog-post-listing__post-author-name {
          {% if module.styles.author.text.font.color %}
            color: {{ module.styles.author.text.font.color }};
          {% endif %}
          {% if module.styles.author.text.font.size %}
            font-size: {{ module.styles.author.text.font.size ~ module.styles.author.text.font.size_unit }};
          {% endif %}
          {% if module.styles.author.text.font.style %}
            {{ module.styles.author.text.font.style }};
          {% endif %}
        }

        .hs-blog-post-listing__post-author-name:hover,
        .hs-blog-post-listing__post-author-name:focus {
          {% if module.styles.author.hover.text.font.color %}
            color: {{ module.styles.author.hover.text.font.color }};
          {% endif %}
          {% if module.styles.author.hover.text.font.style %}
            {{ module.styles.author.hover.text.font.style }};
          {% endif %}
        } #}
      {% endif %}
    {% endif %}

    {# Tags #}

    {% if show_tags %}
      {# .hs-blog-post-listing__post-tag {
        {% if module.styles.tags.background.color.color %}
          background-color: rgba({{ module.styles.tags.background.color.color|convert_rgb }}, {{ module.styles.tags.background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.tags.border.border.css }}
        {% if module.styles.tags.corner.radius >= 0 %}
          border-radius: {{ module.styles.tags.corner.radius ~ "px" }};
        {% endif %}
        {% if module.styles.tags.text.font.color %}
          color: {{ module.styles.tags.text.font.color }};
        {% endif %}
        {% if module.styles.tags.text.font.size %}
          font-size: {{ module.styles.tags.text.font.size ~ module.styles.tags.text.font.size_unit }};
        {% endif %}
        {% if module.styles.tags.text.font.style %}
          {{ module.styles.tags.text.font.style }};
        {% endif %}
        {{ module.styles.tags.spacing.spacing.css }}
      }

      .hs-blog-post-listing__post-tag:hover,
      .hs-blog-post-listing__post-tag:focus {
        {% if module.styles.tags.hover.background.color.color %}
          background-color: rgba({{ module.styles.tags.hover.background.color.color|convert_rgb }}, {{ module.styles.tags.hover.background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.tags.hover.border.border.css }}
        {% if module.styles.tags.hover.text.font.color %}
          color: {{ module.styles.tags.hover.text.font.color }};
        {% endif %}
        {% if module.styles.tags.hover.text.font.style %}
          {{ module.styles.tags.hover.text.font.style }};
        {% endif %}
      }

      {% if module.styles.tags.spacing.space_between_tags >= 0 %}
        .hs-blog-post-listing__post-tag:not(:last-child) {
          margin-right: {{ module.styles.tags.spacing.space_between_tags ~ "px" }};
        }
      {% endif %} #}
    {% endif %}

    {# Publish date #}

    {% if show_publish_date %}
      {# .hs-blog-post-listing__post-timestamp {
        {% if module.styles.publish_date.text.font.color %}
          color: {{ module.styles.publish_date.text.font.color }};
        {% endif %}
        {% if module.styles.publish_date.text.font.size %}
          font-size: {{ module.styles.publish_date.text.font.size ~ module.styles.publish_date.text.font.size_unit }};
        {% endif %}
        {% if module.styles.publish_date.text.font.style %}
          {{ module.styles.publish_date.text.font.style }};
        {% endif %}
        {{ module.styles.publish_date.spacing.spacing.css }}
      } #}
    {% endif %}

    {# Description #}

    {% if show_description %}
      {# .hs-blog-post-listing__post-description {
        {% if module.styles.description.text.font.color %}
          color: {{ module.styles.description.text.font.color }};
        {% endif %}
        {% if module.styles.description.text.font.size %}
          font-size: {{ module.styles.description.text.font.size ~ module.styles.description.text.font.size_unit }};
        {% endif %}
        {% if module.styles.description.text.font.style %}
          {{ module.styles.description.text.font.style }};
        {% endif %}
        {{ module.styles.description.spacing.spacing.css }}
      } #}
    {% endif %}

    {# Button #}

    {% if show_link %}

      {# Link wrapper #}

      {# {% if module.styles.link.alignment.alignment %} #}
        {# .hs-blog-post-listing__post-link-wrapper {
          text-align: {{ module.styles.link.alignment.alignment.horizontal_align }};
        } #}
      {# {% endif %} #}

      {# Button #}

      {# .hs-blog-post-listing__post-link {
        {% if module.styles.link.background.color.color %}
          background-color: rgba({{ module.styles.link.background.color.color|convert_rgb }}, {{ module.styles.link.background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.link.border.border.css }}
        {% if module.styles.link.corner.radius >= 0 %}
          border-radius: {{ module.styles.link.corner.radius ~ "px" }};
        {% endif %}
        {% if module.styles.link.text.font.color %}
          color: {{ module.styles.link.text.font.color }};
        {% endif %}
        {% if module.styles.link.text.font.size %}
          font-size: {{ module.styles.link.text.font.size ~ module.styles.link.text.font.size_unit }};
        {% endif %}
        {% if module.styles.link.text.font.style %}
          {{ module.styles.link.text.font.style }};
        {% endif %}
        {{ module.styles.link.spacing.spacing.css }}
      } #}

      {# .hs-blog-post-listing__post-link:hover,
      .hs-blog-post-listing__post-link:focus {
        {% if module.styles.link.hover.background.color.color %}
          background-color: rgba({{ module.styles.link.hover.background.color.color|convert_rgb }}, {{ module.styles.link.hover.background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.link.hover.border.border.css }}
        {% if module.styles.link.hover.text.font.color %}
          color: {{ module.styles.link.hover.text.font.color }};
        {% endif %}
        {% if module.styles.link.hover.text.font.style %}
          {{ module.styles.link.hover.text.font.style }};
        {% endif %}
      }

      .hs-blog-post-listing__post-link:active {
        {% if module.styles.link.hover.background.color.color %}
          background-color: rgba({{ color_variant(module.styles.link.hover.background.color.color, 80)|convert_rgb }}, {{ module.styles.link.hover.background.color.opacity / 100 }});
        {% endif %}
        {{ module.styles.link.hover.border.border.css }}
        {% if module.styles.link.hover.border.border.top.color %}
          border-color: {{ color_variant(module.styles.link.hover.border.border.top.color, 80) }};
        {% endif %}
        {% if module.styles.link.hover.text.font.color %}
          color: {{ module.styles.link.hover.text.font.color }};
        {% endif %}
        {% if module.styles.link.hover.text.font.style %}
          {{ module.styles.link.hover.text.font.style }};
        {% endif %}
      } #}

    {% endif %}

  {% end_scope_css %}
  </style>
{% end_require_css %}

{####################################################}
{################ Blog components ###################}
{####################################################}

{% macro post_image(side) %}
  {% if show_image and content.featured_image and not has_full_image %}
    <a
      class="hs-blog-post-listing__post-image-wrapper hs-blog-post-listing__post-image-wrapper--{{ layout }} {{ "hs-blog-post-listing__post-image-wrapper--{{ side }}" if layout == "side-by-side" }}"
      href="{{ content.absolute_url }}"
      aria-label="{{ "{{ module.default_text.full_featured_image_aria_label }} - " if content.featured_image_alt_text }} {{ module.default_text.read_full_post_aria_label }}"
    >
      <img
        class="hs-blog-post-listing__post-image hs-blog-post-listing__post-image--{{ layout }}"
        src="{{ content.featured_image }}"
        loading="lazy"
        alt="{{ content.featured_image_alt_text }}"
      >
    </a>
  {% endif %}
{% endmacro %}

{% macro post_title() %}
  {% if show_title %}
    <h2 class="hs-blog-post-listing__post-title"><a class="hs-blog-post-listing__post-title-link" href="{{ content.absolute_url }}">{{ content.name }}</a></h2>
  {% endif %}
{% endmacro %}

{% macro post_author() %}
  {% if (show_author_image or show_author_name) and content.blog_author %}
    <div class="hs-blog-post-listing__post-author">
      {% if show_author_image and content.blog_author.avatar %}
        <div class="hs-blog-post-listing__post-author-image-wrapper">
          <img
            class="hs-blog-post-listing__post-author-image"
            src="{{ content.blog_author.avatar }}"
            loading="lazy"
            alt="{{ module.default_text.author_alt_text }}"
          >
        </div>
      {% endif %}
      {% if show_author_name %}
        <a class="hs-blog-post-listing__post-author-name" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}">{{ content.blog_author.display_name }}</a>
      {% endif %}
    </div>
  {% endif %}
{% endmacro %}

{% macro post_tags() %}
  {% if show_tags and content.tag_list %}
    <div class="hs-blog-post-listing__post-tags">
      {% for tag in content.tag_list %}
        <a class="hs-blog-post-listing__post-tag" href="{{ blog_tag_url(group.id, tag.slug) }}">{{ tag.name }}</a>
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}

{% macro post_date() %}
  {% if show_publish_date and content.publish_date %}
    <time class="hs-blog-post-listing__post-timestamp" datetime="{{ content.publish_date }}">
      {{ content.publish_date_localized }}
    </time>
  {% endif %}
{% endmacro %}

{% macro post_description() %}
  {% if show_description %}
    <p class="hs-blog-post-listing__post-description">{{ content.post_list_content|striptags|truncatehtml(100) }}</p>
  {% endif %}
{% endmacro %}

{% macro post_link() %}
  {% if show_link %}
    <div class="hs-blog-post-listing__post-link-wrapper">
      <a
        class="hs-blog-post-listing__post-link"
        href="{{ content.absolute_url }}"
        aria-label="{{ module.default_text.read_full_post_aria_label }}"
      >
        {{ module.link_text }}
      </a>
    </div>
  {% endif %}
{% endmacro %}

{% macro post_content() %}
  <div class="hs-blog-post-listing__post-content hs-blog-post-listing__post-content--{{ layout }} {{ "hs-blog-post-listing__post-content--with-image" if content.featured_image and show_image }}">
    {{ post_title() }}
    {{ post_author() }}
    {{ post_tags() }}
    {{ post_date() }}
    {{ post_description() }}
    {{ post_link() }}
  </div>
{% endmacro %}

{####################################################}
{################## Blog layout #####################}
{####################################################}

{# {% set features = blog_recent_posts(119986636919) %}
  {{ features }} #}

{% if current_page == 1 %}
  <div id="featureContent" class="is-layout-flow">
    <div class="wp-block-columns are-vertically-aligned-center is-layout-flex wp-container-8 has-global-padding" style="margin-bottom:var(--wp--preset--spacing--70)">
      <section class="hs-blog-post-listing hs-blog-post-listing--{{ layout }}">
        {% for content in contents %}
        {% if loop.index <3 %}
          <article
            class="hs-blog-post-listing__post hs-blog-post-listing__post--{{ layout }} {{ "hs-blog-post-listing__post--{{ feature_columns }}" if has_feature_columns }}"
            {% if has_full_image and content.featured_image %}
              style="background-image: url({{ content.featured_image }});"
            {% endif %}
            aria-label="{{ module.default_text.full_blog_post_summary_text }}"
            >

            {% if has_full_image and content.featured_image %}
              <div class="hs-blog-post-listing__post-inner-wrapper">
            {% endif %}

              {% if not has_alternate_image or loop.index is not divisibleby 2 %}
                {{ post_image("left") }}
              {% elif has_alternate_image and loop.index is divisibleby 2 %}
                {{ post_image("right") }}
              {% endif %}

              {{ post_content() }}

            {% if has_full_image and content.featured_image %}
              </div>
            {% endif %}

          </article>

        {% endif %}
        {% endfor %}
      </section>
    </div>
  </div>

{% endif%}
