
@font-face{font-family:Raleway;font-style:normal;font-weight:400;font-display:fallback;src:url('https://resources.idahowines.org/hubfs/IWC_2023_Theme_Assets/Fonts/Raleway-Regular.woff2') format('woff2');}
@font-face{font-family:Raleway;font-style:normal;font-weight:500;font-display:fallback;src:url('https://resources.idahowines.org/hubfs/IWC_2023_Theme_Assets/Fonts/Raleway-Medium.woff2') format('woff2');}
@font-face{font-family:Raleway;font-style:normal;font-weight:700;font-display:fallback;src:url('https://resources.idahowines.org/hubfs/IWC_2023_Theme_Assets/Fonts/Raleway-Bold.woff2') format('woff2');}
@font-face{font-family:Raleway;font-style:normal;font-weight:800;font-display:fallback;src:url('https://resources.idahowines.org/hubfs/IWC_2023_Theme_Assets/Fonts/Raleway-ExtraBold.woff2') format('woff2');}
@font-face{font-family:dity;font-style:normal;font-weight:400;font-display:fallback;src:url('https://resources.idahowines.org/hubfs/IWC_2023_Theme_Assets/Fonts/dity.woff2') format('woff2');}

body {
  color: var(--wp--preset--color--iwc-text);
  font-family: var(--wp--preset--font-family--raleway);
  font-size: var(--wp--preset--font-size--body-copy);
  line-height: var(--wp--custom--line-height--body);
  margin: 0;
}

/* Paragraphs */

p {
  font-size: 1rem;
  margin: 0 0 1.4rem;
}

/* Anchors */

a {
  cursor: pointer;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 1.4rem;
}

/* Lists */

ul,
ol {
  margin: 0 0 1.4rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
  margin: 0;
}

ul.no-list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

/* Code blocks */

pre {
  overflow: auto;
}

code {
  vertical-align: bottom;
}

/* Blockquotes */

blockquote {
  border-left: 2px solid;
  margin: 0 0 1.4rem;
  padding-left: 0.7rem;
}

/* Horizontal rules */

hr {
  border: none;
  border-bottom: 1px solid #CCC;
}

/* Image alt text */

img {
  font-size: 0.583rem;
  word-break: normal;
}
